*{
    box-sizing: border-box;
}

.list-group{
    width: 300px;
    margin:auto;
    padding-top: 10%;

}

.list-group-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}