/* базовые настройки страницы */

/*            *-означает обращение ко всем элементам сайта             */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* убирает все отступы браузера */
}

/* конец базовых настройки страницы */



/* Универсальные стили */

/* , - Это означает дополнительное обращение к тому или иному элементу.
                Это перечисление подключенных class'ов */
.left,
.ul_li li {
    float: left;
    /* float - это обтекание. То есть выравнивание.
            выравнивание: куда
            выравнивание: в левую сторону = float: left
            выравнивание: в правую сторону = float: right  */
}

.right {
    float: right;
}

.ul_li {
    list-style: none;
    /* убрать точки */
    display: inline;
    /* появляется высота */
    padding: 0;
    margin: 0;
    /* сброс */
}

.ul_li li {
    padding: 10px 15px;
}

.container {
    width: 1200px;
    margin: 0 auto;

    /* margin - это внешний отступ
                    также margin является выравниванием 
                    margin: 0 auto - ноль отсупов со всех сторон и это значит выровнить по центру*/
}

/* конец универсальных стилей  */


/* стили для страницы */
/* урок 14 */
.verhnee-menu {
    background-color: #f7f7f7;
    display: inline-block;
    width: 100%;
}

/* display: inline-block; width: 100%; чтобы отделить нижние части от верхнего блока */




/* конец стилей для страницы */