.header-container {
    margin: 20px 20px;
    padding: 10px 10px;


}

.header-center {
    margin: 30px 20px;
    padding: 10px 10px;
}

.menu {
    margin: 20px 20px;
    padding: 10px 10px;
}

.footer-container {
    margin: 20px 20px;
    padding: 10px 10px;
}